 body {
      margin: 0;
      padding: 0;
 }
 body * span {
      margin: 0;
      padding: 0;
 }

.section_one { 
      display: inline-block;
      background-color: #8080a3;
      width: 80%;
      border: 15px solid blue;
      padding: 0px 0px 0px 0px;
      margin: 50px 500px 0px 50px;
      color: black;
      }
.section_two {
      margin: 50px;
      display: inline-block;
      
}
.text_line {
      display: inline-block;
      border: 15px solid black;
      margin: 10px;
      padding: 10px;
      background-color: #862e9c;
      border-radius: 4px;
      color: #fff;     
}
.p_one {    
      display: inline-block;  
      border: solid 15px #ff6206;
      margin: 18px;
}
.section_three {
      border: 15px solid black;
      margin: 12px;
      padding: 11px;
      background-color: green;
      border-radius: 6px;
      color: darkblue
}
.section_four {
      width: 800px;
      background-color: black;
      color: white;
      padding: 10px;      
}
.section_five {
      margin-top: 5px;
      width: 99%;
      background-color: black;
      color: white;
      padding: 10px;
}
.p_two {
      background-color: purple;
      width: 80%;
      height: 50%;
}
.p_three {
      width: 90vw;
      height: 50vh;      
      background-color: darkblue;      
}

